name: Build and Test

on:
  push:
    branches:
      - main
      - beta
      - "feature/*"
      - "fix/*"
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  version:
    name: Generate version
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      FullSemVer: ${{ steps.gitversion.outputs.FullSemVer }}
      PreReleaseTag: ${{ steps.gitversion.outputs.PreReleaseTag }}
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.3.2
        with:
          versionSpec: "6.x"
      - name: Use GitVersion
        id: gitversion # step id used as reference for output values
        uses: gittools/actions/gitversion/execute@v4.3.2
      - name: Create annotation for build error
        run: |
          echo "::notice::FullSemVer ${{ steps.gitversion.outputs.FullSemVer }}"
          echo "::notice::PreReleaseTag ${{ steps.gitversion.outputs.PreReleaseTag }}"
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ^1.20
      - name: Run go build
        run: go build -v ./...
  test:
    name: Test
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ^1.20
      - name: Test
        run: go test -v -race -coverprofile=coverage.out -covermode=atomic -json ./... | tee test-report.out
      - name: Go Vet
        run: go vet ./... 2>&1 | tee govet-report.out
      - name: Upload test results
        uses: actions/upload-artifact@master
        with:
          name: test-output
          path: |
            coverage.out
            govet-report.out
            test-report.out
  lint:
    name: Lint
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ^1.20
      - name: Run golangci-lint # https://github.com/marketplace/actions/golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          args: --output.checkstyle.path=golint-report.out --issues-exit-code=0
      - name: Upload lint results
        uses: actions/upload-artifact@master
        with:
          name: lint-output
          path: golint-report.out
  sonar-cloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    needs: [version, lint, test]
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ^1.20
      - uses: actions/download-artifact@master
        with:
          name: test-output
          path: "."
      - uses: actions/download-artifact@master
        with:
          name: lint-output
          path: "."
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0 # https://github.com/marketplace/actions/sonarcloud-scan
        with:
          args: >
            -Dsonar.projectVersion=${{ needs.version.outputs.FullSemVer }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
